body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

img {
    border-radius: 50px;
    opacity: 90%;
    width: 600px;
    height: auto;
    
}

div {
    font-size: 20px;
}

li {
    list-style-type: none;
    text-align: center;
}

.list-container {
    list-style-type: none;
}

h1 {
    font-size: 50px;
    
}